body {
	font-family: 'Questrial', sans-serif;
    background: url('mainpagepic.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    text-shadow: 2px 2px rgba(0,0,0,0.8);
}

p{
    color: #ffffff;
    font-size: 2.5em;
    margin-top: 0px;
}

.error {
    font-family: 'Questrial', sans-serif;
    color: red;
}