<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>PackageDrop Login</title>
    <link type = "text/css" rel = "stylesheet" href="{{ url_for('static', filename='loginregister.css') }}" />
  </head>   
  <body>
        <form action="{{ url_for('logincheck') }}" method="POST" autocomplete="off">
        Username<br>
        <input type="text" name="username" maxlength="20">
        <br><br>
        Password<br>
        <input type="password" name="password" maxlength="20">
        <br><br>
        <input type="submit" value="Login">
        <br><br>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}   
    </body>
</html>