<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>PackageDrop Register</title>
  <link type = "text/css" rel = "stylesheet" href="{{ url_for('static', filename='loginregister.css') }}" />
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <form action="{{ url_for('registercheck') }}" method="POST" autocomplete="off">
    Username (4-20 characters)<br>
    <input type="text" name="usernameR" maxlength="20">
    <br><br>      

    Password (4-20 characters)<br>
    <input type="password" name="passwordR" maxlength="20">
    <br><br>

    Confirm Password<br>
    <input type="password" name="confirmP" maxlength="20">
    <br><br>

    {{ recaptcha }}

    <br><br>

    <input type="submit" value="Register">
    <div class="g-recaptcha" data-sitekey="6LcvQCUUAAAAAHgOya9xANiSNyQzNxlPWJ-0eBfr"></div>
    <br><br>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}   
  </form>
</body>
</html>
