<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type = "text/css" rel = "stylesheet" href="{{ url_for('static', filename='upload.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='login.js')}}"></script>
    <title>PackageDrop File Uploader</title>
</head>
   <body>
   <h1>Drop your package!</h1>
        <form action= "{{ url_for('uploader') }}" method="POST" enctype="multipart/form-data">
        <input type=file name=file>
        <input type=submit value=Upload>
      	</form>

      	<form action="/logout">
      	<input type="submit" id="Lout" value="Log out">
      	</form>

      	<form action="/download">
      	<input type="submit" id = "Dload" value="View Files">
      	</form>
   </body>
   {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}	
</html>	